<h1>Card</h1>
<turbo-frame id="card-<%= @frame_id %>">

  <div class="statement-object">
    <% solution = dereference_helper(@uri)%>
    <b><%= display_literal(solution.label) %></b> 
    <div class="alternate-name"><%= render partial: 'shared/uri_formater', locals: {uri: solution.type, type: ""} %></div>
    <%= render partial: 'shared/uri_formater', locals: {uri: @uri, type: solution.type} %>
  
  </div>

</turbo-frame>