<% title = "#{pluralize(@artifacts.count, "Databus Artifact")}" %>
<% provide(:title, title) %>
<div class="container">
  <h1>
    <%= title %>
  </h1>

</div>
<%= link_to "Create artifact",
new_artifact_path,
class: "btn btn-primary",
data: {
  turbo: false,
} %>
<%= render partial: "query_table", locals: { solutions: @artifacts } %>
