<div class="container">
  <h1>SHACL Validation</h1>

  <turbo-frame id="card-validation">
    <%= render partial: "shacl_secondary_report", locals: { entity: @entity } %>
    <%= @report %>
    <%= render partial: "statements_table",
    locals: {
      triples: @entity.graph.query([RDF.URI(@entity.entity_uri), nil, nil]),
      graph: @entity.graph,
    } %>

  </turbo-frame>

  <pre>
    <code>
      <%= @entity.graph.dump(:jsonld) %>
    </code>
  </pre>

</div>
