<div class="container">
  <h1>SHACL Validation</h1>

  <turbo-frame id="card-validation">

    <%= render partial: "entity_errors", locals: { entity: @entity } %>
    <%= "<h2>Pass</h2>".html_safe if @report.conform? %>
    <%= render partial: "statements_table", locals: { entity: @entity } %>
  </turbo-frame>
</div>
