<div class="container">
  <h1>SHACL Validation for Wikidata</h1>

  <turbo-frame id="card-validation">
    <%= "<h4>Data Conforms</h4>".html_safe if @report.conform? %>
    <%= render partial: "statements_table",
    locals: {
      triples: @entity.graph.query([RDF.URI(@entity.entity_uri), nil, nil]),
      graph: @entity.graph,
    } %>
    <div
      data-controller="validation"
      data-validation-facts-value="<%= @entity.graph.dump(:jsonld).squish  %>"
    >
    </div>
  </turbo-frame>
</div>
