<div
  data-controller="clipboard"
  data-clipboard-success-content-value="URI copied"
>
  <%= "<span class='badge bg-primary'>URI</span>".html_safe if is_authoritative(uri) %>
  <span data-clipboard-target="source"><%= uri %></span>
  <a
    class="cursor-pointer"
    data-action="clipboard#copy"
    data-clipboard-target="button"
    title="Copy URI"
  ><%= render partial: "shared/icon_copy" %></a>
</div>
