<div class="container">
    <h1>
        <%= @entity.entity_uri %>
    </h1>
    <turbo-frame id="source-graph-info">
        <% if @sources.count > 0 %>
            <% if  @entity.entity_uri.ends_with?("#DataId") %>
                deprecated
            <% else %>
                in dataset <%= safe_join(
                @sources.map do |source|
                    link = link_to(source[:graph_name], entity_path(uri: source[:source_graph]))
                    rank_text = " #{ source[:graph_rank] ? "(rank #{source[:graph_rank]})" : "" }"
                    link + rank_text
                end,
                ', '
                ) %>
            <% end %>
        <% end %>
    </turbo-frame>
</div>

