<div class="position-relative">

  <turbo-frame
    id='card-<%=result["id"] %>'
    src="<%= dereference_card_path(uri: "http://kg.artsdata.ca/resource/#{result["id"]}", frame_id: result["id"])%>"
    loading="lazy"
    target="_top"
  >
    <%= result["name"] %>
  </turbo-frame>
  <% if @externalUri && result["id"][0] == "K" %>
    <% button_class = result["name"] == @query ? "btn-danger" : "btn-secondary" %>
    <%= button_to "link",
    mint_link_path(
      externalUri: @externalUri,
      classToMint: result["type"].first["id"],
      adUri: "http://kg.artsdata.ca/resource/" + result["id"],
    ),
    method: :post,
    class: "btn #{button_class} btn-sm position-absolute bottom-0 end-0 mb-2 me-2",
    style: "z-index: 1;" %>
  <% end %>
</div>
