<turbo-frame id="controlled-vocabularies-list">
  <% controlled_vocabularies.each do |vocabulary| %>
  <li>
    <%= link_to vocabulary[:label],entity_path(uri: vocabulary[:uri]),
      class: "dropdown-item text-wrap" 
    %>
  </li>
  <% end %>
</turbo-frame>
