@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
  font-family: 'Noto Serif', serif;
}

th, td {
  margin: 25px 10px;
  padding: 10px;
}

th {
    background-color: #f2f2f2;
}

a {
  text-decoration: none;
}
a:active {
  cursor: wait;
}

a:hover {
  cursor: pointer;
}

.statement {
  display: flex;
  flex-direction: row;
  background-color: rgb(246, 243, 243);
  border-color: rgb(191, 190, 190);
  border-width: 1px;
  border-style: solid;
  margin: 5px 0px;
}

.statement_buttons {
  padding: 10px;
  border: 0px;
  background-color: white;
}

.statement-predicate {
  width: 20%;
  word-break:break-all;
  flex-shrink: 0;
  overflow: auto;
  padding: 15px;
}

.statement-objects {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;

}

.statement-object {

  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  border-color: rgb(191, 190, 190);
  border-width: 0.5px;
  border-style: dashed;
  overflow: hidden;

}

.annotation {
  margin: 4px 40px;
}


.reference.accordion button {
  font-size: small;
  padding: 2px;
}
.accordion  {
  font-size: small;
}

.small-text {
  font-size: small;
  margin: 10px 20px;
}

.accordion-body {
  padding: 0;
}

.accordion-item {
  border:0px;
}

.alternate-name {
  color: rgb(123, 137, 137);
  a {
    color: rgb(123, 137, 137);
    text-decoration: none;
  }
}

.sort-none::after {
  content: "\f0dc"; /* Font Awesome icons for sort */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 0.4em;
  color: lightgray;
}

.sort-asc::after {
  content: "\f0de"; /* Font Awesome icon for sort up */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 0.4em;
}

.sort-desc::after {
  content: "\f0dd"; /* Font Awesome icon for sort down */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 0.4em;
}

.sticky-top {
  top: 0;
  z-index: 1020;
}

.sticky-col {
  position: sticky;
  left: 0;
  z-index: 2;
  border-right: 1px solid #dee2e6;
}

.nebula-field {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 3);
  line-clamp: var(--read-more-line-clamp, 3);
}

// Navbar logo and job status height
.navbar-logo-height {
  height: 40px;
}

// URI link container with copy icon
.uri-link-container {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
}

.uri-link-container .copy-uri-icon {
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.uri-link-container:hover .copy-uri-icon {
  opacity: 1;
}

.copy-uri-icon i {
  color: #808080;
  font-size: 16px;
}

