<!-- Input: subject, predicate, object, graph (annotations parameter removed as it was unused) -->
<div class="annotation">

  <% # Check if this triple has annotations by looking for the hasAnnotations marker
     annotation_subject = RDF.Statement(subject, predicate, object)
     has_annotations_marker = graph.query([
       annotation_subject,
       RDF::URI("http://kg.artsdata.ca/ontology/hasAnnotations"),
       nil
     ])
     has_annotations = has_annotations_marker.count > 0
  %>
  
  <% if has_annotations %>
    <% random = rand(10_000) %>
    <div
      class="reference accordion"
      style="--bs-accordion-btn-padding-y: 5px;--bs-accordion-border-width: 0px;"
      id="accordionFlushExample"
    >
      <div class="accordion-item">
        <h6 class="accordion-header">
          <button
            class="accordion-button btn-sm collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse<%=random%>"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            <span>Annotations</span>
          </button>
        </h6>
        <div
          id="collapse<%=random%>"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <turbo-frame
            id='annotations-<%= random %>'
            src="<%= entity_triple_annotations_path(
              subject: subject.to_s,
              predicate: predicate.to_s,
              object: object.to_s,
              frame_id: random
            ) %>"
            loading="lazy"
            target="_top"
          >
            <div class="accordion-body">Loading annotations...</div>
          </turbo-frame>
        </div>
      </div>
    </div>
  <% end %>
</div>
