<% stat = RDF.Statement(RDF.URI(entity.entity_uri), predicate, object) %>
<% query = RDF::Query.new { pattern [stat, :pred, :obj] } %>
<% annotations = query.execute(entity.graph) %>
<% if annotations.count > 0 %>
  <ul>
    <% annotations.each do |a| %>
      <li>
        <%= use_prefix(a.pred.value) %>
        :
        <%= use_prefix(a.obj) %></li>
    <% end %>
  </ul>
<% end %>
