<% solutions =
  SPARQL.execute(
    "PREFIX shacl: <http://www.w3.org/ns/shacl#> " \
      "SELECT distinct  ?resultPath ?resultMessage WHERE { ?bn shacl:focusNode <#{entity.entity_uri}> . ?bn shacl:resultMessage ?resultMessage . ?bn shacl:resultPath ?resultPath }",
    entity.graph,
  ) %>

<% if solutions.count  > 0 %>

  <% solutions.each do |s| %>
    <p>
      <span style="margin: 5px;"><%= render partial: "shared/icon_circle_exclamation" %></span><%= display_label(s.resultPath, check_shacl: false) %>
      :
      <span style="color:red;">
        <%= s.resultMessage %></span>
    </p>
  <% end %>

<% end %>
