<!--page header / hero image-->
<div class="container-fluid">
  <div class="row" style="background-color: #333">
    <div class="jumbotron" style="background-color: #333">
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <h1 style="color: white">ARTSDATA.CA</h1>
          <p class="lead" style="font-size: xx-large; color:whitesmoke">Un graphe de connaissances national pour les arts</p>
          <br>
          <!-- <button type="button" class="btn btn-warning btn-lg">Explore the data</button> -->
        </div>
        <div class="col-sm-6 col-md-3">
          <p class="text-center">
            <img src="images/artsdata_event_model_blank.svg" class="img-responsive" alt="Responsive image" />
          </p>
        </div>
      </div><!-- row -->
    </div><!-- jumbotron -->
  </div><!-- row -->
</div><!-- container -->

<!--first statement-->
<div class="row caitlin-custom-margin" style="background-color: #eee">
  <div class="col-sm-12">
    <br></br>
    <p style="font-size: x-large">Artsdata.ca vise à donner au secteur des arts du Canada la possibilité d’optimiser des données ouvertes liées et à promouvoir activement un écosystème numérique plus juste et équitable. Cette initiative procède à la construction d’un graphe de connaissances pour les arts qui soit lisible par machine, ouvert et accessible à tout le monde.</p>
    <br>
  </div>
</div>

<!--About and Benefits-->
<div class="row caitlin-custom-margin">
  <div class="col-md-12">
    <h2>À propos d'Artsdata</h2>
    <br>
  </div>
</div>

<div class="container-fluid caitlin-custom-margin">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Vision</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <p>Artsdata.ca est un graphe de connaissances ouvert, accessible et conçu par et pour une communauté d’usagers du secteur des arts du Canada. Ses objectifs sont de :
            <ul class="custom-bullet">
              <li>Produire une infrastructure numérique partagée  reflétant les valeurs propres aux arts</li>
              <li>Construire un écosystème de données ouvertes et liées sur les arts</li>
              <li>Faciliter l’accès à des données de grande qualité, détaillées et à jour</li>
            </ul>
          </p>
        </div><!-- panel-body -->
      </div><!-- panel -->
    </div><!-- col -->

    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Avantages</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <p>Le graphe de connaissances de Artsdata.ca permet au secteur des arts :
            <ul class="custom-bullet">
              <li>D’exercer un contrôle sur des métadonnées descriptives relatives à des événements, des personnes, des organismes, des lieux ou des œuvres</li>
              <li>De favoriser la réutilisation de ces métadonnées dans les calendriers culturels, les répertoires, les systèmes de recommandation et les moteurs de recherche</li>
              <li>De tirer parti des plus récentes technologies du web pour créer de nouvelles opportunités</li>
            </ul>
          </p>
        </div><!-- panel-body -->
      </div><!-- panel -->
    </div><!-- col -->
  </div> <!-- row -->
</div><!-- container-fluid -->
<br>

<div class="container-fluid caitlin-custom-margin">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Activités</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <ul class="custom-bullet">
            <li>Promouvoir un modèle de données commun pour les informations  relatives aux arts, en s’appuyant sur les ontologies existantes lorsque possible</li>
            <li>Soutenir des cohortes d’organismes culturels canadiens pour que leurs métadonnées descriptives soient incluses dans Artsdata.ca</li>
            <li>Accroître la portée et la qualité du graphe de connaissances de Artsdata.ca en y intégrant des données provenant d’une variété de sources</li>
            <li>Créer une bibliothèque d’identifiants pérennes globaux pour les entités du secteur des arts</li>
            <li>Se lier à d’autres sources de connaissances comme Wikidata</li>
          </ul>
        </div>
      </div>
      <br>
    </div>
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Artsdata en 2023</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <ul class="custom-bullet">
            <li>Continuer à intégrer des organismes artistiques à Artsdata.ca</li>
            <li>Améliorer la qualité des données</li>
            <li>Accroître le nombre  des sources fournissant des données à Artsdata.ca</li>
            <li>Développer des applications qui permettent une interaction humaine avec Artsdata.ca</li>
            <li>Soutenir les applications et les services qui consomment les données provenant d'Artsdata.ca</li>
            <li>Synchroniser les identifiants d’Artsdata.ca avec d’autres identifiant passerelles afin de faciliter la réconciliation des jeux de données</li>
          </ul>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

<div class="row" style="background-color: #eee">
  <br>
  <br>
  <div class="caitlin-custom-margin">
  </div>
  <div class="col-xs-12">
    <h3 class="text-center">Vous voulez en savoir plus ?</h3>
    <p class="text-center" style="font-size: x-large">Découvrez les classes et les propriétés du modèle. Donnez votre avis et posez des questions.
      <br>
      <br>
      <a class="btn btn-warning btn-lg" href="https://culturecreates.github.io/artsdata-data-model/">Documentation</a>
      <a class="btn btn-warning btn-lg" href="https://culturecreates.github.io/artsdata-data-model/architecture/overview.html">Infrastructure</a>
    </p>
    <br>
    <br>
  </div>
</div>

<!--Add events to artsdata-->
<div class="row">
  <div class="caitlin-custom-margin">
    <div class="col-xs-12">
      <h2>Ajoutez vos événements à Artsdata.ca</h2>
      <br>
    </div>
  </div>
</div>

<div class="container-fluid caitlin-custom-margin">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Besoin de structurer vos événements ?</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <p>Pour structurer vos événements, ajoutez JSON-LD ou RDFa à vos pages Web en suivant les instructions de Google. Vous aurez besoin d'une expertise technique et d'un accès au backend de votre site Web. 
              <br>
              <strong>Rappelez vous !</strong> Utilisez le <a
                href="https://culturecreates.github.io/artsdata-data-model/">modèle Artsdata.ca</a> lors de la structuration de vos propres données d'événement.</p>
            <a class="btn btn-warning btn-lg"
              href="https://developers.google.com/search/docs/data-types/event?utm_source=devtools">Structurer mes propres événements</a>
            <br>
          </p>
        </div>
      </div>
      <br>
    </div>
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Avez-vous déjà structuré vos événements ?</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <p>Nous pouvons les ajouter à Artsdata.ca.
            <br>
            <a class="btn btn-warning btn-lg"
              href="mailto:support@culturecreates.com?subject=Participation%20à%20Artsdata.ca&body=Mon%20site%20Web%20contient%20des%20données%20structurées.%20Veuillez%20l'ajouter%20à%20artsdata.ca.">Nous joindre</a>
            <br></br>
          </p>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

<!--Sparql info-->
<div class="row" style="background-color: #eee">
  <div class="caitlin-custom-margin">
    <div class="col-xs-12">
      <h2>Terminal SPARQL</h2>
      <br>
    </div>
  </div>
</div>

<div class="row" style="background-color: #eee">
  <div class="col-xs-12">
    <div class="caitlin-custom-margin">
      <div class="panel">
        <div class="panel-heading" style="background-color: #555">
          <h3 class="panel-title" style="font-size: x-large; color: white">Recherchez-vous un terminal SPARQL ?</h3>
        </div>
        <div class="panel-body" style="font-size: larger">
          <p>Artsdata.ca fonctionne avec SPARQL, un langage de requête pour les données ouvertes et liées et les bases de données de graphe sémantiques. Les utilisateurs SPARQL peuvent interroger le graphe de connaissances via ce point de terminaison.
            <br>
            <a class="btn btn-warning btn-lg" href="/sparql">Accéder à SPARQL</a>
          </p>
          <br>
          <p>
            Exemples de requêtes SPARQL :
            <br>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.event}">Événements</a>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.events_by_website}">Événements groupés</a>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.artist}">Artistes</a>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.organization}">Organismes</a>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.place}">Lieux</a>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.provenance}">Provenance</a>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.triple_count}">Triplets RDF</a>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.catalog}">Catalogues</a>
            <a class="btn btn-warning btn-lg" href="${get('config').sparqls.shacl_report}">Rapport SHACL</a>
          </p>
        </div>
      </div>
      <br></br>
    </div>
  </div>
</div>

<!--Resources-->
<div class="row">
  <div class="caitlin-custom-margin">
    <div class="col-xs-12">
      <h2 id="other_resources">Autres ressources</h2>
      <p>
        <a class="btn btn-warning btn-lg" href="https://linkeddigitalfuture.ca/fr/accueil/">Avenir Numérique Lié</a>
        <br>
        <a class="btn btn-warning btn-lg" href="https://dia-log.ca">dia-log</a>
        <br>
        <a class="btn btn-warning btn-lg"
          href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Performing_arts/fr">Wikidata:WikiProject Arts de la scène</a>
      </p>
    </div>
  </div>
</div>

<!--Partners-->
<div class="row" style="background-color: #eee">
  <div class="caitlin-custom-margin">
    <div class="col-xs-12">
      <h2>Partenaires</h2>
      <br>
      <p style="font-size: larger">
        <strong>
          Groupe d'intérêt Artsdata
        </strong>
        <br>
        Le groupe d'intérêt Artsdata agit en tant qu'organe délibérant pour Artsdata.ca et définit les priorités de son développement lors de réunions mensuelles. Le groupe inclut une diversité de parties prenantes du secteur artistique au Canada, allant des fournisseurs de données ouvertes aux consommateurs de données aux organismes de services.
        <br>
        En date de mai 2023, les membres comprennent l'Association RIDEAU, CAPACOA, Culture Laval, Culture Outaouais, le Centre national des Arts, Synapse C, La Vitrine et le gouvernement du Nouveau-Brunswick. Si vous souhaitez vous joindre au groupe d'intérêt, veuillez contacter frederic.julien@capacoa.ca.
      </p>
      <p style="font-size: larger">
        <strong>
         Autres collaborateurs
        </strong>
        <br>
        La Culture Crée (Culture Creates) est une petite équipe de professionnels de l’art et de technologues se spécialisant dans les graphes de connaissances fonctionnant à partir de la reconnaissance des formes (RDF) ainsi que dans les données ouvertes et liées sur les arts. Son mandat est de rendre les renseignements sur l’actualité en art compatibles avec le monde propulsé par l’IA.
        <br>
        Artsdata.ca compte de nombreux fournisseurs de données à travers le Canada. Ils comprennent des douzaines de participants aux cohortes de découvrabilité numérique dirigées par l’initiative Un avenir numérique lié et CAPACOA, ainsi que 13 associations, réseaux, syndicats et d’autres organismes de services (cliquez ici pour une liste détaillée des fournisseurs de données).
      </p>
      <p style="font-size: larger">
        <strong>
         Reconnaissance des premiers partenaires 
        </strong>
        <br>
        De 2017 à 2022, Sherrie Johnson (Crow’s Theatre) a activement piloté, avec plusieurs représentants d’organismes artistiques à travers le pays, l’initiative Artsdata.ca en préparant une série de demandes de subventions multiphases.
        <br>
        De 2018 à 2023, l’initiative Un avenir numérique lié a contribué au développement d’Artsdata.ca, de Wikidata et d’un écosystème plus étendu de données ouvertes liées dans le domaine des arts de la scène.
      </p>
    </div>
  </div>
</div>

<!--Supporters-->
<div class="row">
  <div class="caitlin-custom-margin">
    <div class="col-xs-12">
      <h2>Soutenu par</h2>
      <br>
    </div>
  </div>
</div>
<div class="row">
  <div class="caitlin-custom-margin">
    <div class="col-xs-6">
      <a href="https://canadacouncil.ca" class="thumbnail">
        <img
          src="https://canadacouncil.ca/-/media/Images/CCA/Design_Elements/Logos/CCFA-logo-full-en.svg?la=en&hash=F297C9D9740B613B144255DF6A5FDE48869615EC"
          alt="Canada Council for the Arts">
      </a>
    </div>
    <div class="col-xs-6">
      <a href="https://www.canada.ca/" class="thumbnail">

        <img src="images/2li_FrEn_Wordmark_C.png" alt="Financé par le gouvernement du Canada.">
      </a>
    </div>
  </div>
</div>
<hr>
