<% solutions =
  SPARQL.execute(
    "PREFIX shacl: <http://www.w3.org/ns/shacl#> " \
      "SELECT distinct ?resultMessage WHERE { " \
      " ?bn shacl:focusNode <#{subject}> ; shacl:resultMessage ?resultMessage ; shacl:resultPath <#{predicate.value}> ; shacl:value <#{object.value}> . }",
    graph,
  ) %>

<% if solutions.count > 0 %>
  <ul>
    <% solutions.each do |a| %>
      <p style="color:red;">
        <%= a.resultMessage.value %>
      </p>
    <% end %>
  </ul>
<% end %>
