<!-- Inputs: triples class RDF::Solutions, graph class RDF::Graph -->
<div class="meta">
  <%= render partial: "entity_errors",
  locals: {
    subject: triples.first&.subject,
    graph: graph,
  } %>
  <% properties = triples.map { |s| s.predicate }.uniq %>
  <% properties.each do |prop| %>
    <div class="statement">
      <div class="statement-predicate">
        <%= display_label(prop) %>
      </div>
      <%= render partial: "statement_objects",
      locals: {
        triples: triples.select { |s| s.predicate == prop },
        predicate_hash: prop.to_s.hash,
        graph: graph,
      } %>
      <%= render partial: "extra_buttons",
      locals: {
        subject: triples.first.subject,
        predicate: prop,
        predicate_hash: prop.to_s.hash,
      } %>
    </div>
  <% end %>
</div>
