<div class="container">
  <p>
    <% if session[:name] %>
      <%= t("Welcome back") %>
      <%= session[:name] %>
    <% end %>
  </p>

  <% if I18n.locale == :fr %>
    <%= render partial: "home-fr" %>
  <% else %>
    <%= render partial: "home-en" %>
  <% end %>
</div>
