<h1>Test Entities</h1>
<ol>
  <li><%= link_to "Bobby Wills", entity_path(uri: "K2-17016891") %></li>
  <li><%= link_to "Déjà Event from GTQ", entity_path(uri: "https://www.grandtheatre.qc.ca/programmation/deja-simon-leblanc-2023-10-11-00-00") %></li>
</ol>
