<div class="dropdown">
  <a
    class="dropdown-toggle text-decoration-none me-2"
    href="#"
    role="button"
    id="dropdownMenuLink"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Download
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><%= link_to "JSON-LD for schema.org",
      entity_path(
        uri: entity.entity_uri,
        format: :jsonld,
        frameTemplate: "schema_org",
      ),
      class: "dropdown-item",
      data: {
        turbo_prefetch: false,
      } %></li>
    <li><%= link_to "JSON-LD 1.0",
      entity_path(uri: entity.entity_uri, format: :jsonld),
      class: "dropdown-item",
      data: {
        turbo_prefetch: false,
      } %></li>
    <li><%= link_to "JSON-LD 1.2 with annotations",
      entity_path(uri: entity.entity_uri, format: :jsonlds),
      class: "dropdown-item",
      data: {
        turbo_prefetch: false,
      } %></li>
    <li><%= link_to "Turtle",
      entity_path(uri: entity.entity_uri, format: :ttl),
      class: "dropdown-item",
      data: {
        turbo_prefetch: false,
      } %>
    </li>
  </ul>
</div>
