<div class="alternate-name">
  <%= link_to "Dereference", dereference_external_path(uri: @entity.entity_uri) %> |
  <a href=<%= @entity.entity_uri %>> external link</a> | 
    <a href="#" onclick="alert('Wikidata style discussion under development');" id="aduriapi">discussion</a> | 
  <a href=<%= graphdb_link(@entity.entity_uri) %>  id="graphdb">graph db</a>
  <% if session[:name]%>
  | <%= link_to "minter", mint_path(externalUri: @entity.entity_uri, classToMint: "Event") %> 
  <% end %>
  </div> 
