<div class="meta">
  <% solutions = SPARQL.execute("SELECT distinct ?pred WHERE { <#{entity.entity_uri}> ?pred ?obj }", entity.graph) %>
  <% solutions.each do |s| %>
    <div class="statement">
      <% predicate_hash = s.pred.to_s.hash %>
      <div class="statement-predicate">
        <%= display_label(s.pred.to_s) %>
      </div>
      <%= render partial: 'statement_objects', locals: { entity: entity, predicate: s.pred, predicate_hash: predicate_hash }  %>
      <% if !entity.entity_uri.starts_with?("urn:") %>
        <div class="statement_buttons">
          <%= link_to entity_expand_path(subject: entity.entity_uri, predicate: s.pred.to_s, predicate_hash: predicate_hash),  
                  data: {"turbo-frame" => "objects-frame-#{predicate_hash}"},  
                  title: "Show all datasets",
                  id: predicate_hash, 
                  onclick: "document.getElementById('#{predicate_hash}').firstElementChild.style.fill = 'red';" do 
                %>
          <%= render partial: 'shared/icon_stack'%>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>
