<h1>Derived (inverse) Statements for
  <%= @entity.label&.value %>
</h1>
<a><%= use_prefix(@entity.entity_uri) %></a>

<turbo-frame id="reverse-statements">
  <% if @entity.graph.count > 0 %>
    <h4>Derived statements
    </h4>
    <%= render partial: "statements_table",
    locals: {
      triples: @entity.graph.query([RDF.URI(@entity.entity_uri), nil, nil]),
      graph: @entity.graph,
    } %>
  <% end %>
</turbo-frame>

<br>
<br>
<pre>
  <code>
    <% if  @entity.graph.count > 0 %>
      <%= @entity.graph.dump(:jsonld) %>
    <% end %>
  </code>
</pre>
