<h1>Expand view</h1>

<turbo-frame id="objects-frame-<%= @predicate_hash %>">
  <%= render partial: "statement_objects",
  locals: {
    triples: @entity.graph.query([RDF.URI(@entity.entity_uri), nil, nil]),
    predicate_hash: @predicate_hash,
    graph: @entity.graph,
  } %>
</turbo-frame>

<pre>
  <code>
    <%= @entity.graph.dump(:jsonld) %>
  </code>
</pre>
